CognitoAuthClientAdminEmail=admin@example.com
CognitoAuthClientCallbackUrl=http://localhost:3000/api/auth/callback/cognito
CognitoAuthClientLogoutUrl=http://localhost:3000/api/auth/logout
CognitoAuthClientCallbackUrl2=https://dev.example.com/api/auth/callback/cognito
CognitoAuthClientLogoutUrl2=https://dev.example.com/api/auth/logout